{% extends "engine/left.html" %}

{% block title %}主机列表{% endblock %}

{% load staticfiles %}
{% block jscss %}

    <link rel="stylesheet" href="{% static "css/uniform.css" %}"/>
    <link rel="stylesheet" href="{% static "css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "css/uniform.css" %}"/>
     <link rel="stylesheet" href="{% static "sysmain/host.manager.css" %}"/>
    <script src="{% static "js/jquery.uniform.js" %}"></script>
    <script src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/unicorn.tables.js" %}"></script>
{% endblock %}

{% block content %}
		<div id="content">
			<div id="content-header">
				<h1>Tables</h1>
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
				<a href="#" class="current">Tables</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
								<h5>Static table with checkboxes in box with padding</h5>
								<span class="label label-info">Featured</span>
							</div>
							<div class="widget-content">
								<table class="table table-bordered table-striped with-check">
									<thead>
										<tr>
											<th>主机名称</th>
											<th>IP地址</th>
											<th>用户名</th>
											<th>端口号</th>
                                            <th></th>
                                            <th></th>
										</tr>
									</thead>
									<tbody>
                                        {% for host in HostList %}
                                            <tr>
                                                <td>{{ host.1 }}</td>
                                                <td>{{ host.2 }}</td>
                                                <td>{{ host.3 }}</td>
                                                <td>{{ host.4 }}</td>
                                                <td><a href="#" >修改</a></td>
                                                <td><a href="#" >删除</a></td>
                                            </tr>
                                        {% endfor %}
									</tbody>
								</table>

							</div>
                                <ul class="pagination">
                                    <li><a href="#">首页</a></li>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">Next</a></li>
                                    <li><a href="#">末页</a></li>
                                </ul>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div id="footer" class="span12">
						2012 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
					</div>
				</div>
			</div>
		</div>

{% endblock %}


