{% extends "engine/left.html" %}



{% block title %}主机管理{% endblock %}

{% load staticfiles %}
{% block jscss %} <script src="{% static "sysmain/host.manager.js" %}"></script> {% endblock %}

{% block content %}

		<div id="content">
			<div id="content-header">
				<h1>添加主机</h1>
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
				<a href="#" class="tip-bottom">Form elements</a>
				<a href="#" class="current">Common elements</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>
								</span>
								<h5>添加主机</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="#" method="post" id="hostaddform" class="form-horizontal" />
									<div class="control-group">
										<label class="control-label">主机名称</label>
										<div class="controls">
											<input type="text" name="hostname" id="hostname" />
                                            <span  id="show-host-msg"></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">主机IP地址</label>
										<div class="controls">
											<input type="text" name="ipaddr" id="ipaddr"  /> <span  id="show-ipaddr-msg"></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" id="required">用户名</label>
										<div class="controls">
											<input type="text" name="username" id="username" /> <span  id="show-username-msg"></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">用户密码</label>
										<div class="controls">
											<input type="password" name="password" id="password" /> <span  id="show-passwd-msg"></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">SSH端口</label>
										<div class="controls">
											<input type="text" name="sshport" value="22" id="sshport" /> <span  id="show-sshport-msg"></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">说明</label>
										<div class="controls">
											<textarea name="remark"></textarea>
                                            <span id="show-result-msg"></span>
										</div>
									</div>
									<div class="form-actions">
										<button type="button"  id="submitBtn"  class="btn btn-primary" >Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>


				<div class="row-fluid">
					<div id="footer" class="span12">
						2012 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
					</div>
				</div>
			</div>
		</div>

{% endblock %}