{% extends 'accounts/head.html' %}


{% block content %}
    <div class="container">
      <form class="form-signin" action="user/login"  id="loginform" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">后 台 登 录</h2>
          <div   id="message">
          </div>
        <input type="text" class="input-block-level"  id="username" name="username" placeholder="user name">
        <input type="password" class="input-block-level"  id="password" name="password" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary"  id="submitBtn" type="button">登 录</button>
      </form>
    </div> <!-- /container -->

{% endblock %}
